<extend name="Public/base" />

<block name="top">
    <div class="left"><a href="{:U('Center/index')}" class="back link"> <i class="icon icon-back"></i></a></div>
    <div class="center sliding">我的地址</div>
    <div class="right"><a href="{:U('Center/updAddress')}" class="item-link">添加</a></div>
</block>
<block name="content">
    <div class="page-content">
        <div class="consignee">
            <if condition="empty($addresses)">
            <div class="none">您还没有添加过任何地址</div>
            <else/>
                <form autocomplete="off">
            <div class="exist">
                <volist name="addresses" id="adr">
                <!--start-->
                <div class="list">
                    <p class="name"><span class="fl">{$adr['contacts']}</span><span class="fr">{$adr['mobile']}</span></p>
                    <p class="dz">{$adr['province_name']}{$adr['city_name']}{$adr['area_name']}{$adr['address']}</p>
                    <p class="set">
                        <span class="fl focus">
                            <if condition="$adr['is_default'] eq 1">
                                <input type="radio" id="checkbox-{$key}" class="choice_box2" name="box" checked="checked"/>
                            <else/>
                                <input type="radio" id="checkbox-{$key}" class="choice_box2" name="box"/>
                            </if>
                            <label for="checkbox-{$key}" class="confirm ajax-get" data-confirm="确定要设置改地址为默认地址吗？" url="{:U('Center/setDefault', array('adr_id'=>$adr['adr_id']))}" title="设为默认"></label>默认地址
                        </span>
                        <span class="fr">
                            <a href="{:U('Center/updAddress', array('adr_id'=>$adr['adr_id']))}" class="bj">编辑</a>
                            <a href="{:U('Center/delAddress', array('adr_id'=>$adr['adr_id']))}" title="删除" class="del confirm ajax-get">删除</a>
                        </span>
                    </p>
                </div>
                <!--end-->
                </volist>
            </div>
                </form>
            </if>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/common.js"></script>
    <script>
        $(function() {
            $(".none").css("height",$(window).height()-196);
        })
        //提示弹出层 回调方法
        function success_callback() {window.location.reload();}
        function error_callback() {}
    </script>
</block>