<extend name="Public/base" />

<block name="main">
    <br>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="fa fa-signal"></i></span>
                    <h5>统计数据</h5>
                </div>
                <div class="widget-content">
                    <div class="row-fluid">
                        <div class="span6">
                            <ul class="site-stats">
                                <li><i class="fa fa-cart-plus"></i> <strong>{$total_5}</strong> <small>服务商品已完成订单</small></li>
                                <li><i class="fa fa-cart-plus"></i> <strong>{$total_1}</strong> <small>已预约总数</small></li>
                                <li><i class="fa fa-cart-plus"></i> <strong>{$total_2}</strong> <small>已服务总数</small></li>
                                <li><i class="fa fa-tasks"></i> <strong>{$total_3}</strong> <small>待发货订单总数</small></li>
                                <li><i class="fa fa-tasks"></i> <strong>{$total_4}</strong> <small>已完成订单总数</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script"></block>