<extend name="Public/base" />

<block name="main">
    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search list-widget-title">
                    <!--<button class="btn btn-success href" url="{:U('InviteLog/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-inverse ajax-post" url="{:U('InviteLog/forbidResume',array('model'=>'InviteLog','field'=>'status','value'=>0))}" target-form="ids">禁用</button>&nbsp;
                    <button class="btn btn-info ajax-post" url="{:U('InviteLog/forbidResume',array('model'=>'InviteLog','field'=>'status','value'=>1))}" target-form="ids">启用</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('InviteLog/delete',array('model'=>'InviteLog'))}" target-form="ids">删除</button>&nbsp;-->
                    <form action="{:U('InviteLog/index')}" method="post" class="form">
                        <input type="text" name="account" value="{$_REQUEST['account']}" placeholder="用户账号">
                        <button class="btn btn-inverse">查询</button>
                    </form>
                </div>

                <div class="widget-content no-padding no-border">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <!--with-check reset-checkbox<th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/>--><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>记录ID</th>
                            <th>邀请者</th>
                            <th>被邀请者</th>
                            <th>邀请码</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <empty name="list"><tr><td colspan="30">Aho！没有查询结果！！</td></tr></empty>
                        <volist name="list" id="row">
                            <tr>
                                <!--<td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>-->
                                <td>{$row['id']}</td>
                                <td>{$row['user_account']}-{$row['user_nickname']}</td>
                                <td>{$row['other_account']}-{$row['other_nickname']}</td>
                                <td>{$row['code']}</td>
                                <td>{$row['create_time']|timestamp2date}</td>
                                <!--<td>
                                    <a href="{:U('InviteLog/update',array('id'=>$row['id'],'model'=>'InviteLog'))}" title="编辑" class="">
                                        <span class="label label-success label-success-hover">编辑</span></a>&nbsp;
                                    <if condition="$row['status'] eq 0 or $row['status'] eq 1">
                                        <a href="{:U('InviteLog/forbidResume',array('model'=>'InviteLog','ids'=>$row['id'],'field'=>'status','value'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="ajax-get">
                                        <span class="label {$row['status']|show_status_label}">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </if>
                                    <a href="{:U('InviteLog/delete',array('model'=>'InviteLog','ids'=>$row['id']))}" title="删除" class="confirm ajax-get">
                                        <span class="label label-important label-important-hover">删除</span></a>
                                </td>-->
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
