<extend name="Public/base" />

<block name="main">
    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search list-widget-title">
                    <button class="btn btn-success href" url="{:U('Activities/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-inverse ajax-post" url="{:U('Activities/forbidResume',array('model'=>'Activities','field'=>'status','value'=>0))}" target-form="ids">禁用</button>&nbsp;
                    <button class="btn btn-info ajax-post" url="{:U('Activities/forbidResume',array('model'=>'Activities','field'=>'status','value'=>1))}" target-form="ids">启用</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('Activities/delete',array('model'=>'Activities'))}" target-form="ids">删除</button>&nbsp;

                    <form action="{:U('Activities/index')}" method="post" class="form">
                        <input type="text" name="title" value="{$_REQUEST['title']}" placeholder="活动标题">
                        {$select}
                        <button class="btn btn-inverse">查询</button>
                    </form>
                </div>

                <div class="widget-content no-padding no-border">
                    <table class="table table-bordered table-striped with-check reset-checkbox">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="icon-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>标题</th>
                            <th>封面</th>
                            <th>跳转规则</th>
                            <th>跳转参数</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <empty name="list"><tr><td colspan="30">Aho！没有查询结果！！</td></tr></empty>
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['title']}</td>
                                <td><img src="{$row['picture']}" width="30"></td>
                                <td>{$row['target_rule'],TARGET_RULES_C|get_config_title}</td>
                                <td>{$row['param']}</td>
                                <td>{$row['create_time']|timestamp2date}</td>
                                <td>{$row['update_time']|timestamp2date}</td>
                                <td>{$row['status']|get_status_title}</td>
                                <!--<td>{$row['is_on_sale']}</td>-->
                                <!--<td>
                                    <select class="quick-edit-select" data-model="Activities" data-id="{$row['id']}" data-field="is_integral" data-focus-value="{$row['is_integral']}" onchange="quick_edit_select_change(this)">
                                        <option value="1" >可用</option>
                                        <option value="0" >不可用</option>
                                    </select>
                                </td>-->
                                <!--<td>
                                    <select class="quick-edit-select" data-model="Activities" data-id="{$row['id']}" data-field="is_best" data-focus-value="{$row['is_best']}" onchange="quick_edit_select_change(this)">
                                        <option value="1">推荐</option>
                                        <option value="0">不推荐</option>
                                    </select>
                                </td>-->
                                <td>
                                    <if condition ="in_array($row['type_id'],$spec_types)">
                                    <!--<a href="{:U('Activities/products',array('id'=>$row['id']))}" title="货品列表" class="">
                                        <span class="label label-primary label-primary-hover">货品列表</span></a>&nbsp;-->
                                    </if>
                                    <a href="{:U('Activities/update',array('model'=>'Activities','id'=>$row['id']))}" title="编辑" class="">
                                        <span class="label label-success label-success-hover">编辑</span></a>&nbsp;
                                    <if condition="$row['status'] eq 0 or $row['status'] eq 1">
                                        <a href="{:U('Activities/forbidResume',array('model'=>'Activities','ids'=>$row['id'],'field'=>'status','value'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="ajax-get">
                                        <span class="label {$row['status']|show_status_label}">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </if>
                                    <a href="{:U('Activities/delete',array('model'=>'Activities','ids'=>$row['id']))}" title="删除" class="confirm ajax-get">
                                        <span class="label label-important label-important-hover">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>