<extend name="Public/base" />

<block name="main">
    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search list-widget-title">
                    <button class="btn btn-success href" url="{:U('BespeakTime/add')}" target-form="ids">新增</button>&nbsp;
                </div>

                <div class="widget-content no-padding no-border">
                    <table class="table table-bordered table-striped reset-checkbox">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>时间段</th>
                            <th>该时间段最多预约人数限制</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>创建时间</th>
                            <th>最后修改时间</th>
                            <th>信息状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <empty name="list"><tr><td colspan="30">Aho！没有查询结果！！</td></tr></empty>
                        <volist name="list" id="row">
                            <tr>
                                <td>{$row['id']}</td>
                                <td>{$row['name']}</td>
                                <td>{$row['max_count']|default="--"}人</td>
                                <td>{:date('H:i',$row['start_time'])}</td>
                                <td>{:date('H:i',$row['end_time'])}</td>
                                <td>{$row['create_time']|timestamp2date}</td>
                                <td>{$row['update_time']|timestamp2date}</td>
                                <td>{$row['status']|get_status_title}</td>
                                <td>
                                    <a href="{:U('BespeakTime/update',array('id'=>$row['id'],'model'=>'BespeakTime'))}" title="编辑" class="">
                                        <span class="label label-success label-success-hover">编辑</span></a>&nbsp;
                                    <if condition="$row['status'] eq 0 or $row['status'] eq 1">
                                        <a href="{:U('BespeakTime/forbidResume',array('model'=>'BespeakTime','ids'=>$row['id'],'field'=>'status','value'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="ajax-get">
                                            <span class="label {$row['status']|show_status_label}">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </if>
                                    <a href="{:U('BespeakTime/delete',array('model'=>'BespeakTime','ids'=>$row['id']))}" title="删除" class="confirm ajax-get">
                                        <span class="label label-important label-important-hover">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
